<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        a {
            text-decoration: none !important;
            color: black;
            margin-left: 15px;
        }
    </style>
</head>
<div style="border-bottom: 3px solid #ddd;">
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <a href="/">
                    <img style="width: 200px; height: 80px;" src="/img/logo.svg" alt="">
                </a>
            </div>
            <div style="display: flex; align-items: center;">
                <!-- 로그인 상태가 아닐 때만 표시 -->
                <a th:if="${session.user == null}" href="/user/login">로그인</a>
                <a th:if="${session.user == null}" href="/user/signup">회원가입</a>
                <!-- 로그인 상태일 때만 표시 -->
                <a th:unless="${session.user == null}" href="/user/logout" onclick="return confirm('로그아웃 하시겠습니까?');">로그아웃</a>
            </div>
        </div>
    </div>
</div>
</html>