<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <!-- 헤더 -->
    <header>
        <th:block th:replace="~{/layout/header.html}"></th:block>
    </header>

    <!-- 메인 -->
    <main class="container">
        <th:block layout:fragment="content"></th:block>
    </main>

    <!-- 푸터 -->
    <footer>
        <th:block th:replace="~{/layout/footer.html}"></th:block>
    </footer>

</body>
</html>