<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<div layout:fragment="content">
    <form action="/user/signup" method="post">
        <label for="userId"></label>
        <input type="text" id="userId" name="userId" required>
        <label for="pw"></label>
        <input type="password" id="pw" name="pw" required>
        <input type="submit" value="가입하기">
    </form>
</div>
</html>