<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <style>
        #container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #question {
            width: 700px;
            height: 400px;
            border: 1px solid #7a7a7a;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<!-- 로그인 상태가 아닐 때만 표시 -->
<a th:if="${session.user == null}" href="/login.do">로그인</a>
<a th:if="${session.user == null}" href="/signup.do">회원가입</a>

<!-- 로그인 상태일 때만 표시 -->
<a th:unless="${session.user == null}" href="/logout.do" onclick="return confirm('로그아웃 하시겠습니까?');">로그아웃</a>

<!-- 질문 등록 창 - 로그인 상태일 때만 표시 -->
<div th:if="${session.user != null}" id="container">
    <div id="question">
        <div class="mb-2">
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-secondary">면접 예상 질문 등록</button>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/register.do" method="post">
                            <label for="exampleFormControlTextarea1" class="form-label">질문을 등록하세요</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="questionContent" rows="3"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="submit-button" type="button" class="btn btn-primary" onclick="document.getElementById('question-form').submit();">등록</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <button class="btn btn-secondary" id="random-question-button">랜덤 질문받기</button>
        </div>
        <div>
            <button class="btn btn-secondary">예상 질문 출력</button>
        </div>
        <div th:if="${question != null}">
            <p th:text="${question.questionContent}"></p>
        </div>
    </div>
</div>
<script>
    // 랜덤 질문 출력
    document.getElementById('random-question-button').addEventListener('click', function() {
        window.location.href = '/randomQuestion.do';
    });

    // 질문 등록
    $(document).ready(function() {
        $("#submit-button").click(function(e) {
            e.preventDefault();
            var questionContent = $("#exampleFormControlTextarea1").val();

            var confirmation = confirm("질문을 등록하시겠습니까?");

            if (confirmation) {
                $.ajax({
                    url: '/register.do',
                    type: 'POST',
                    data: {
                        questionContent: questionContent
                    },
                    success: function(response) {
                        if (response.success) {
                            alert('질문 등록 성공');
                            $('#staticBackdrop').modal('hide');
                            $("#exampleFormControlTextarea1").val('');
                        } else {
                            alert('질문 등록 실패');
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>