<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
    <!-- 질문 등록 창 - 로그인 상태일 때만 표시 -->
    <div th:if="${session.user != null}"
         style="height: 100vh; display: flex; justify-content: center; align-items: center;">
        <div style="width: 700px; height: 400px; border: 1px solid #7a7a7a; border-radius: 10px;">
            <div class="mb-2">
                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-secondary">면접 예상 질문 등록
                </button>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/question/register" id="register-form" method="post">
                                <label for="questionRegister" class="form-label">질문을 등록하세요</label>
                                <textarea class="form-control" id="questionRegister" name="questionContent"
                                          rows="3" required></textarea>
                                <label for="answerRegister" class="form-label">답변을 등록하세요</label>
                                <textarea class="form-control" id="answerRegister" name="answerContent"
                                          rows="3"></textarea>
                            </form>
                            <button id="submit-button" type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <button class="btn btn-secondary" type="button" id="random-question-button">랜덤 질문받기</button>
            </div>
            <div class="modal fade" id="questionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="questionModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="questionContent"></p>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                답변 보기
                            </button>
                            <div class="collapse mt-3" id="collapseExample">
                                <div id="answerContent" class="card card-body"></div>
                                <form id="againAnswer" action="/question/submitAnswer">
                                    <label for="answer-input"></label>
                                    <textarea class="form-control" id="answer-input" placeholder="답변이 비어있습니다. 답변을 등록하세요."></textarea>
                                    <input type="hidden" name="questionIdx">
                                    <button id="answer-submit-button" type="submit" class="btn btn-primary">등록</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="next-question-button">다음 질문</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 질문 & 답변 등록
        $(document).ready(function () {
            $("#submit-button").click(function(e) {
                e.preventDefault();
                if (confirm('등록하시겠습니까?')) {
                    $("#register-form").submit();
                    alert('등록이 완료되었습니다.');
                }
            });
        });
        // 질문 보여주는 모달 창
        $(document).ready(function () {

            function loadQuestion(url) {
                $.get(url, function (data) {
                    $("#answerContent").remove();

                    $("#questionModal .modal-body p").text(data.questionContent);
                    $("#questionIdx").val(data.questionIdx);

                    if (data.answerContent === null) {
                        $("#againAnswer").show();
                    } else {
                        $("#againAnswer").hide();
                        let answerContent = $('<div id="answerContent" class="card card-body"></div>').text(data.answerContent);
                        $("#collapseExample").prepend(answerContent);
                    }
                    $("#collapseExample").removeClass('show');
                    $('#questionModal').modal('show');
                });
            }

            $("#random-question-button").click(function () {
                loadQuestion("/question/randomQuestion");
            });

            $("#next-question-button").click(function () {
                loadQuestion("/question/nextQuestion");
            });
        });

    </script>
</div>
</html>